{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block head %}Modificar Alimento{% endblock %}
{% block content %}
<div class="agregar">
    <form action="" method="get" id="attemptEditEntidadReceptora"  >
        <div class="form">
        <input type="hidden" name="action" id="action" size="20" value="modAlimento"/>
         <input type="hidden" name="codigo" id="codigo" size="20" value="{{ selected_array[0] }}"/>
            <div class="form-label"><label for="descripcion">Descripción de Alimento</label></div>
            <div class="form-input">
              <input type="text" name="descripcion" id="descripcion" size="11" value="{{ selected_array[1] }}" required />
            </div>
            <div class="clearer"><!-- --></div>

            <input type="submit" id="addbtn" value="Agregar" />
          </div>
       </form>
</div>

{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}