{% extends "base.html.twig" %}
{% block title %}Error{% endblock %}
{% block head %}{% endblock %}
{% block loginfo %}{% endblock %}
{% block content %}
<<<<<<< HEAD
     <h2 class="allert">No found</h2>
     <a href='/twig/'>Back</a>
=======
     <h2 class="allert">Not found</h2>
     <a href='/'>Back</a>
>>>>>>> be542998172d38338f9c5f4ffcd4b1fdf69e19c3
                   
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}