<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" lang="es" content="banco de alimento, la plata">
        <link href="view/main.css" rel="stylesheet" type="text/css">
        <link rel="icon" 
            type="image/png" 
            href="resources/favicom.png">
        <title>{% block title %}{% endblock %} - Banco de Alimentos</title>    
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block loginfo %}
        <div id="page">
            <div class="page-header">
                <div id="logininfo">You are logged in as 
                    <p class= 'username'>{% block username %}{% endblock %}</p>
                    <a href="profile.html" title="View profile"></a>
                    <a href="?action=logout">Log out</a>
                </div> 

                <div class="home-link">   
                    <a href="?action=home">Inicio</a>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="content">{% block content %}{% endblock %}</div>
            <div class="footer">
            {% block footer %}
                &copy; Copyright 2014 by <a href="www.google.com">PIOS</a>.
            {% endblock %}
            </div>
        </div>
    </body>
</html>