<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" lang="es" content="banco de alimento, la plata">

        <link href="view/main.css" rel="stylesheet" type="text/css">
        <link rel="icon" 
            type="image/png" 
            href="resources/favicom.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="view/menu.css">

        <title>{% block title %}{% endblock %} - Banco de Alimentos</title>    
        {% block head %}{% endblock %}
    </head>
    <body>

        {% block loginfo %}
        <div id="page">
            <div class="page-header">

                {% block header %}
                    {% include 'menu.html.twig' %}
                {% endblock %}
                {% block loginer %}
                    {% include 'logininfo.html.twig' %}
                {% endblock %}


                <div class="home-link">   
                    <a href="?action=home">Inicio</a>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="content">{% block content %}{% endblock %}</div>
            <div class="footer">
            {% block footer %}
                &copy; Copyright 2014 by <a href="www.google.com">PIOS</a>.
            {% endblock %}
            </div>
        </div>
    </body>
</html>