<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="keywords" lang="es" content="banco de alimento, la plata">
        <link href="view/micss.css" rel="stylesheet" type="text/css">
        <link rel="icon" 
            type="image/png" 
            href="resources/favicom.png">
        <title>{% block title %}{% endblock %} - Banco de Alimentos</title>    
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="page">
            <div id="page-header">
                <div id="page-header-wrapper" class="wrapper clearfix">
                <div class="headermenu">
                <div class="logininfo">You are logged in<a href="profile.html" title="View profile"></a>
                 <a href="?action=logout">Log out</a>
                </div> 
                <a href="?action=home">Inicio</a>
                </div>
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2014 by <a href="www.google.com">PIOS</a>.
            {% endblock %}
        </div>
    </body>
</html>