<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <ul>
            <li><a href="./?action=listResources">Recursos</a></li>
            <li><a href="./?action=listAlimentos">Alimentos</a></li>
            <li><a href="./?action=listDonantes">Donantes</a></li>
            <li><a href="./?action=listEntidadesReceptoras">Entidades Receptoras</a></li>
        </ul>
    </body>
</html>