{% extends "base.html.twig" %}
{% block title %}Inicio{% endblock %}
{% block head %}{% endblock %}
{% block username %}{{user_name[0]}}{% endblock %}
{% block loginfo %}{{ parent() }}{% endblock %}
{% block content %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script> 
            $(function(){
            $("#demo-bar").load("../demo-bar.html"); 
            });
        </script> 
        <h1>Inicio</h1>
        <ul>
            <li><a href="./?action=listAlimentos">Alimentos</a></li>
            <li><a href="./?action=listDetallesAlimentos">Detalles alimentos</a></li>
            <li><a href="./?action=listDonantes">Donantes</a></li>
            <li><a href="./?action=listEntidadesReceptoras">Entidades Receptoras</a></li>
        </ul>

{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}