{% extends "base.html.twig" %}
{% block title %}LogIn{% endblock %}
{% block head %}{% endblock %}
{% block content %}

<h2 class="headermain inside">Lo que hacemos en el banco de alimento</h2>
<p class="headermain inside">Somos una organización sin fines de lucro que tiene como misión la recuperación de alimentos para para generar conciencia ambiental combatiendo el hambre y la desnutrición en el área del Gran La Plata</p>

<div class="loginform">
          <form action="" method="post" id="login"  >
          <input type="hidden" name="action" value="login">
          <div class="loginform">
            <div class="form-label"><label for="name">Username</label></div>
            <div class="form-input">
              <input type="text" name="name" id="name" size="15" value="" required />
            </div>
            <div class="clearer"><!-- --></div>
            <div class="form-label"><label for="password">Password</label></div>
            <div class="form-input">
              <input type="password" name="password" id="password" size="15" value="" required />
              <input type="submit" id="loginbtn" value="Log in" />
            </div>
          </div>
       </form>
</div>

{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}