{% extends "base.html.twig" %}
{% block title %}Pagina principal{% endblock %}
{% block head %}{% endblock %}
{% block loginfo %} <h1><a href="?action=login">LOGIN</a></h1> {% endblock %}
{% block content %}

<h2 class="headermain inside">Lo que hacemos en el banco de alimento</h2>
<p class="headermain inside">Somos una organización sin fines de lucro que tiene como misión la recuperación de alimentos para para generar conciencia ambiental combatiendo el hambre y la desnutrición en el área del Gran La Plata</p>

<p><script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/bdalp" data-related="false" data-format="inline"></script></p>
<h2> {{ linkedin.firstName }} </h2>
<p> {{ linkedin.headline }} </p>
<img src="{{ linkedin.pictureUrl }}" alt= "imagen del banco">

		<input hidden checked="" type="radio" name="slider" id="slide1">
		<input hidden type="radio" name="slider" id="slide2" selected="true">
		<input hidden type="radio" name="slider" id="slide3" selected="false">
		<input hidden type="radio" name="slider" id="slide4" selected="false">
		<input hidden type="radio" name="slider" id="slide5" selected="false">
<article id="slider"
		
	
	



	
		
<div id="slides">
		
			<div id="overflow">
			
				<div class="inner">
				
					<article>
						<div class="info"><h3>Visitas escolares</h3> by <a href="http://voyager3.tumblr.com/">Brendan Zabarauskas</a></div>
						<img alt="Visitas escolares" src="http://bancoalimentario.org.ar/wp-content/uploads/2014/05/visitas-escolares_slideweb.jpg">
					</article>
					
					<article>
						<div class="info"><h3>Voluntarios</h3> by <a href="http://voyager3.tumblr.com/">Brendan Zabarauskas</a></div>
						<img alt="Voluntariado cooperativo" src="http://bancoalimentario.org.ar/wp-content/uploads/2013/12/voluntariado-cooperativo.jpg">
					</article>
					
					<article>
						<div class="info"><h3>Oportunidades</h3> by <a href="http://voyager3.tumblr.com/">Brendan Zabarauskas</a></div>
						<img alt="Imagen Emily" src="http://bancoalimentario.org.ar/wp-content/uploads/2013/12/emily-arreglada.jpg">
					</article>
					
					<article>
						<div class="info"><h3>Voluntarios</h3> by <a href="http://voyager3.tumblr.com/">Brendan Zabarauskas</a></div>
						<img alt="Voluntariado" src="http://bancoalimentario.org.ar/wp-content/uploads/2013/12/voluntariado.jpg">
					</article>
					
					<article>
						<div class="info"><h3>Recuperacion</h3> by <a href="http://voyager3.tumblr.com/">Brendan Zabarauskas</a></div>
						<img alt="Recuperacion de frutas" src="http://bancoalimentario.org.ar/wp-content/uploads/2013/12/recuperacion-de-frutas-y-verduras.jpg">
					</article>
					
				</div> 
				
			</div> 
		
</div> 


		
	
<div id="controls">

			<label for="slide1"></label>
			<label for="slide2"></label>
			<label for="slide3"></label>
			<label for="slide4"></label>
			<label for="slide5"></label>
		
		</div> 
		
<div id="active">

			<label for="slide1"></label>
			<label for="slide2"></label>
			<label for="slide3"></label>
			<label for="slide4"></label>
			<label for="slide5"></label>
			
</div> 
</article>
		

<script type="text/javascript" src="https://platform.linkedin.com/in.js">
  api_key: 77hmwr84id5v3g
  </script>




{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}