                <div id="logininfo">You are logged in as 
                    <p class= 'username'>{{ user[0].name}}</p>
                    <a href="profile.html" title="View profile"></a>
                    <a href="?action=logout">Log out</a>
                </div> 