
    <div class="menufeatures" id='cssmenu'>
        <ul>
            <li><a href="./?action=listAlimentos">Alimentos</a></li>
            <li><a href="./?action=listDetallesAlimentos">Detalles alimentos</a></li>
            <li><a href="./?action=listDonantes">Donantes</a></li>
            <li><a href="./?action=listEntidadesReceptoras">Entidades Receptoras</a></li>
            <li><a href="./?action=listPedidos">Pedidos de Peh</a></li>
        </ul>
    </div>