
table.tables,table.tecspec{
	border-collapse:collapse;width:100%;
}
table.tables tr:nth-child(odd)	{background-color:#f1f1f1;}
table.tables tr:nth-child(even)	{background-color:#ffffff;}

table.tables tr.fixzebra			{background-color:#f1f1f1;}

table.tables th{
	color:#ffffff;background-color:#555555;border:1px solid #555555;padding:3px;vertical-align:top;text-align:left;
}

table.tables th a:link,table.tables th a:visited{
	color:#ffffff;
}
table.tables th a:hover,table.tables th a:active{
	color:#EE872A;
}
table.tables td{
	border:1px solid #d4d4d4;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;
}
table.tables td.example_code
{
vertical-align:bottom;
}

*{margin:0;padding:0}
body{font-family:"Myriad Pro", Verdana, Arial, Helvetica, sans-serif;font-size:100%;color:#333333;text-align:center;line-height:145%;background-color:#666;}
h1, h2, h3, h4, h5 {font-weight:normal;padding:0 0 10px 0;line-height:125%;color:#000;}
p, ul, ol{margin:0 0 10px 0;}
blockquote {padding:5px 30px 10px 30px; font-style:oblique;}

a img, img a {border:none;text-decoration:none;}
a, a:link {color:#193b8b;text-decoration:none;}
a:hover {color:#000;text-decoration:underline;}

h1 {font-size:200%;}
h2 {font-size:160%;}
h3 {font-size:140%;}
h4 {font-size:120%;font-weight:bold;}
